.monospace {
  font-family: "courier", monospace
}

.title {
  font-weight: 900;
}

.navbar {
  border: 1px solid black;
  font-size:2rem;
}

.status {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 1rem;
  padding: 3px;
}

#status-input {
  width: 80%;
  resize: none;
  margin: 5px; 
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.main-content {
  border: 1px solid black;
}

.footer {
  border: 1px solid black;
}

.main {
  background-color: white;
  width:50%;
}

body {
    background-color: lightgrey;
}
