.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: "courier", monospace
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

.monospace {
  font-family: "courier", monospace
}

.title {
  font-weight: 900;
}

.bold {
  font-weight: 900;
}
.navbar {
  border: 1px solid black;
  font-size:2rem;
  padding: .25rem;
}

.note {
  background-color: #e6e6e6;
  margin: .5rem;
  padding: 3px;
}

.note-content {
  font-family: "Helvetica", "Arial", sans-serif;
}

.padded {
  padding: .25em;
}

#status-input {
  width: 80%;
  resize: none;
  margin: 5px; 
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.footer {
  border: 1px solid black;
}

.main {
  background-color: white;
  max-width: 650px;
  margin: auto;
}

.main-content {
  border: 1px solid black;
  float: center;
}

.timeline {
  word-wrap: break-word;
}
body {
    background-color: lightgrey;
}
