<!DOCTYPE html>
<html lang="en">
  <head>
    <title>🐟{{global.title}}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta charset="utf-8"/>
   <script>
    function reply(note_id)
    {
      document.getElementById("note_input").value='📝' + note_id + ' ';
      document.getElementById("note_input").focus();
    }</script> 
  </head>
  <body class="monospace">
    <div class="main">
    <div id="header">
      <div class="padded navbar">
        <div class="title">🐟{{global.title}}/{{page}}</div> 
        <div class="navlinks">
        <a href="/">t</a>,<a href="/test">n</a>{% if global.logged_in %}
        <a href="/user/{{global.user.username}}">@{{global.user.username}}</a>
        {% else %},<a href="/register">register</a>,<a href="login">login</a>{% endif %},<a href="/server_info">server</a>
        </div>
      </div>
    </div>
    <div class="padded main-content">
      {% block content %}{% endblock %}
   </div>
    <div class="padded footer">
      Built with <a href="https://git.sr.ht/~alexwennerberg/gourami-social">gourami</a>
    </div>
    </div>
  </body>
</html>
