<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
  </head>
  <body class="monospace">
    <div class="container main">
    <div id="header">
      <div class="row navbar">
      <div class="col-sm">
        <div class="title">{{title}}/{{page}}</div> 
      </div>
      <div class="col-sm text-center">t n</div>
      <div class="col-sm text-right">
        {% if logged_in %}
          {{username}}
        {% else %}
          logged out
        {% endif %} 
      </div>
    </div>
    </div>
    <div class="row main-content">
      {% block content %}{% endblock %}
       </div>
    <div class="row footer">
      Built with- <a href="https://git.sr.ht/~alexwennerberg/gourami-social">gourami</a>
    </div>
    </div>
  </body>
</html>
