{% extends "base.html" %}
{% block content %}
<div class="container">
<form action="/do_login" method="POST">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button class="submit-button-style" type="submit">Login</button>
    <br>
    {% if login_failed %}
    Failed login. Try again.
    {% endif %}
  </div>
</form>
</div>
{% endblock %}
