{% extends "base.html" %}
{% block content %}
<div class="container">
<form action="/register" method="POST">
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <button class="submit-button-style" type="submit">Register</button>
    <br>
  </div>
</form>
</div>
{% endblock %}
