{% extends "base.html" %}
{% block content %}
<div class="text-block padded">
  Welcome to Gourami, an intentionally small, private, minimalist, invite-only social network. See the <a href="https://github.com/alexwennerberg/gourami/blob/master/docs/USER_GUIDE.md">user guide</a> for more info or look at the <a href="https://github.com/alexwennerberg/gourami">project page</a>! Here is a list of users on this server -- maybe introduce yourself to someone you don't know! By default your email is not shared, but you can share it to other users on this instance on your edit user page.
<br>
<table>
<tr>
  <th>username</th>
  <th>bio</th>
</tr>
{% for user in users %}
<tr>
  <td><a href="/user/{{user.username}}">{{user.username}}</a> {%if user.admin %}<em>admin</em>{%endif%}</td>
  <td>{{user.bio}}</td>
</tr>
{% endfor %}
</div>
</table>
{% endblock %}
