{% extends "base.html" %}

{% block content %}
<div class="text-block padded">
  Welcome to the alpha instance of Gourami! Expect many changes in the future. Right now, all notes are on a shared timeline visible to all users on this instance. I welcome feedback and feature requests. Please let me know if you encounter any bugs!
  <br>
  Check out this user guide (tbd) for more info on using Gourami.
  <br>
  This instance is invite-only. Contact me to get an invite URL if you want to invite someone. Posts are not visible except to users on this instance.
  <br>
  Contact email: <a href="mailto:alex@alexwennerberg.com">alex@alexwennerberg.com</a> or <a href="/user/alex">message me</a> on Gourami.
</div>
{% endblock %}
