{% extends "base.html" %}
{% block content %}
<div class="text-block padded">
  Welcome to Gourami, an intentionally small, minimalist, invite-only <a href="https://activitypub.rocks/">ActivityPub</a>-based social network. See the <a href="https://github.com/alexwennerberg/gourami">project page</a> for more info! This server can connect with other Gourami servers or other services that implement ActivityPub through the neighborhood. Right now, we are linked with the following actors:
  <br>
<table>
{% for server in server_mutuals %}
<tr>
  <td>
    <b><a href="{{server.actor_id}}">{{server.actor_id}}</a></b>
  </td>
</tr>
{%endfor%}
</table>

<br>
Here is a list of users on this server -- maybe introduce yourself to someone you don't know! By default your email is not shared, but you can share it to other users on this instance on your edit user page.

<br>
{% for user in users %}
{% include "user_header.html" %}
{% endfor %}
</div>
</table>
{% endblock %}

The neighborhood is a collection of users or servers that our server is connected to. This is a two-way share. Here's a list of servers we are connected with: ...
