
{% if note.note.is_remote %}
<div class="remote-note">
{% else %}
<div class="note">
{% endif %}
  <div class="note-meta">
  {% if note.note.neighborhood %}🏠{%endif%}
  {% if note.note.is_remote %}🌎{%endif%}
  <a href="/note/{{note.note.id}}">📝{{note.note.id}}</a>
  {{note.note.created_time}} <a
    class="bold" href="/user/{{note.username}}">@{{note.username}}</a>
{% if global.logged_in  %}
<a title="reply" href="#" onclick="reply({{note.note.id}}, '{{note.username}}')">↪</a>
  {% endif %}
  {% if note.note.user_id == global.me.id %} 
  <form method="post" action="/delete_note" class="inline">
    <input type="hidden" name="note_id" value="{{note.note.id}}">
    <input type="hidden" name="redirect_url" value="{{global.page}}">
        <button type="submit" title="delete note" name="submit_param" value="submit_value"
          class="link-button">✕</button>
   </form>
   {%endif%}
   </div>
  <div class="note-content">
  {{note.note.content|safe}} 
  </div>
  </div>
