
<div class="note">
  <div class="note-meta">
  <a href="/note/{{note.id}}">📝{{note.id}}</a> {{note.created_time}} <a class="bold" href="/user/{{note.creator_username}}">@{{note.creator_username}}</a>
{% if global.logged_in  %}
  <a href="#" onclick="reply({{note.id}})">↪</a>
  {% endif %}
  {% if note.creator_id == global.user.id %} 
  <form method="post" action="/{{note.id}}/delete" class="inline">
      <input type="hidden" name="extra_submit_param" value="extra_submit_value">
        <button type="submit" name="submit_param" value="submit_value"
          class="link-button">✕</button>
   </form>
   {%endif%}
   </div>
  <div class="note-content">
  {{note.content|safe}} 
  </div>
  </div>
