<div>
  <div class="padded">
  <b>user:</b> {{ user.username }} (#{{user.id}})
  <br>
  <b>bio:</b> {{user.bio}}
  {% match user.email %}
    {%when Some with (e) %}
      {%if user.show_email%}
      <br>
      <b>email:</b> <a href="mailto:{{e}}">{{e}}</a>
      {%endif %}
    {% when None %}
  {%endmatch%}
  {% if global.me.id == user.id%}
  <br>
  <a href="/user/{{user.username}}/edit">edit</a>
  <div>
      <form method="post" action="/logout" class="inline">
      <button type="submit" name="submit_param" value="submit_value"
                                                class="link-button">logout</button></form>
  </div>
  {% endif %}
</div>
