<div>
  <div class="padded">
  <b>user:</b> {{ user.username }} (#{{user.id}})
  <br>
  <b>bio:</b> {{user.bio}}
  <br>
  {% match user.email %}
    {%when Some with (e) %}
      {%if user.show_email%}
      <b>email:</b> <a href="mailto:{{e}}">{{e}}</a><br>
      {%endif %}
    {% when None %}
  {%endmatch%}
  <b>website:</b> <a href="{{user.website}}">{{user.website}}</a> 
  {% if global.me.id == user.id%}
    {% if global.me.can_invite %}
      <br>
      <form method="post" action="/generate_invite" class="inline">
      <button type="submit" name="submit_param" value="submit_value"
                                                class="link-button">invite</button></form>
    {% endif %}
  <br>
  <a href="/user/{{user.username}}/edit">edit</a>
  <div>
      <form method="post" action="/logout" class="inline">
      <button type="submit" name="submit_param" value="submit_value"
                                                class="link-button">logout</button></form>
  </div>
  {% endif %}
  <br><br>
</div>
